<section class="voyage-new-edit all-form-text">

<h1>Take the helm. Create your own voyage.</h1>

<%= form_for voyage, url: voyages_path, html: { multipart: true } do |f| %>
<!-- form_for user, url: users_path, html: { multipart: true } do -->

  <div class="field" class="form-group">
   <%= f.label :title %>
   <%= f.text_field :title, :class => "form-control"  %>
   </div>

   <div class="field" class="form-group">
     <%= f.label :location %>
     <%= f.text_field :location, :class => "form-control"   %>
   </div>

  <div class="field" class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control"  %>
  </div>

  <div>
    <%= f.label :start_time %>
    <%= f.datetime_field :start_time %>
  </div>

  <div>
    <%= f.label :end_time %>
    <%= f.datetime_field :end_time %>
  </div>

  <div>
    <%= f.label :capacity%>
    <%= f.select :capacity, options_for_select(0..20) %>
  </div>

  <div>
    <%= f.label :vessel_type %>
    <%= f.select :vessel_type, options_for_select([['Keelboat','Keelboat'], ['Dinghy','Dinghy'],['Canoe','Canoe'],['Kayak ','Kayak'],['Motorboat ','Motorboat'],['Jetski','Jetski'],['Catamaran','Catamaran']]) %>
  </div>

  <div class="form-group">
    <%= f.label :boat_image_file, class: " control-label" %>

      <div class="btn btn-blue btn-file">
        Choose Image
        <%= f.file_field :boat_image_file %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :voyage_image_file, class: "control-label" %>
      <div class="btn btn-blue btn-file">
        Choose Image
        <%= f.file_field :voyage_image_file %>
      </div>
    </div>
  </div> </br>

  <div>
    <%= f.submit 'Submit', :class => 'btn btn-primary'  %>
  </div>

  <% end %>

</section>
