

  <div class="voyage-index">
    <h6>Voyage departs from: <%= @voyage.location %></h6>
    <h6>Voyage start time: <%= @voyage.start_time %></h6>
    <h6>Voyage end time: <%= @voyage.end_time %></h6>
    <h6>Voyage description: <%= @voyage.description %></h6>
    <h6>Vessel type: <%= @voyage.vessel_type %></h6>
    <h6>Boat image: <%= @voyage.boat_image_url %></h6>
  </div>
