<!-- Header -->

  <div id="search-bar">
    <%= form_tag(voyages_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by location", class: 'form-control' %>
      <span class="input-group-btn">
    <%= submit_tag "Search", class: 'btn btn-default'  %>
      </span>
    <% end %>
  </div>


<header id="top" class="header">
    <div class="text-vertical-center">

        <h1>Gilligan</h1>
        <h3>Coming soon to a dock near you</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>


    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Get on the water without owning your own boat!</h2>
                <p class="lead">Connect with boaters in your community today.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Welcome Aboard!</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-anchor fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Connect with boat owners</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-medkit fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Safe Journey Guaranteed</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-smile-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Free To Use</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Anytime, anywhere</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Goodbye city. Hello fresh air.</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>Become a captain. </h1>
                <h1> <%= link_to "Create your voyage today", new_voyage_path  %> </h1> </br> </br>
                  <h1>Need a ride? Choose a Voyage</h1>

                <hr class="small">
                <div class="row">
                  <% @voyages.each do |voyage|%>
                    <div class="col-md-6">
                        <div class="portfolio-item">

<!-- sntax ("/icons/icon.gif", height: '32', width: '32', class: "") -->
                        <h3> <%= voyage.title %> </h3>
                      <%= link_to image_tag(voyage.voyage_image_file.url,  class:'img-portfolio img-responsive'), voyage %>
                    </div>
                  </div>
                  <%end%>

                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Ready for adventure?</h3>
                 <a href="<%= login_path %>" class="btn btn-lg btn-light">Log in</a>
                <a href="<%= new_user_path %>" class="btn btn-lg btn-dark">Sign up Now!</a>
            </div>




        </div>
    </div>
</aside>
