<h1>Create a new voyage!</h1>

<<<<<<< HEAD
<%= render 'form', voyage: @voyage, reservation: @reservation %>
=======


<%= form_for @voyage do |f| %>

  <div>
   <%= f.label :title %>
   <%= f.text_field :title %>
   </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description%>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :vessel_type %>
    <%= f.text_field :vessel_type %>
  </div>

  <div>
    <%= f.label :boat_image_url %>
    <%= f.text_field :boat_image_url %>
  </div>

  <div>
    <%= f.label :start_time %>
    <%= f.datetime_field :start_time %>
  </div>

  <div>
    <%= f.label :end_time %>
    <%= f.datetime_field :end_time %>
  </div>

  <div>
    <%= f.label :capacity%>
    <%= f.select :capacity, options_for_select(0..100) %>
  </div>



    <%= f.submit %>
      <% end %>

</div>
>>>>>>> 691e33e5a0f3ac05470f3ba9996154b3ec737762
