<div class="container">


<%= render 'voyage' %>

<%= form_for [@user, @voyage] do |f| %>

  <div class='field'>
   <%= f.label :title %>
   <%= f.text_field :title %>
   </div>
<!-- add new fields -->

    <%= f.submit %>
      <% end %>

</div>
