<div class="row">
<!-- make more general class names -->
  <section class="col-xs-12 page-show-header" style="background-image: url(<%= @voyage.voyage_image_url%>)" ></section>

  <section class="col-xs-12 col-sm-6 page-details-section">

<!-- This is duplicate code of what is on show, can be deleted once show is working -->
    <h1><%= @voyage.title %></h1>
    <h6>Voyage departs from :<%= @voyage.location %></h6>
    <h6>Latitude: <%= @voyage.latitude %></h6>
    <h6>longitude: <%= @voyage.longitude %></h6>
    <h6>Voyage start time: <%= @voyage.start_time %></h6>
    <h6>Voyage end time: <%= @voyage.end_time %></h6>
    <h6>Voyage description: <%= @voyage.description %></h6>
    <h6>Vessel type: <%= @voyage.vessel_type %></h6>
    <h6>Voyage capacity: <%= @voyage.capacity %></h6>

</section>

<section class="col-xs-12 col-sm-6 page-images-section">
  <%= image_tag(@voyage.boat_image_url) %>


</section>
  <section class="col-xs-12 voyage-map-section">

  </section>

</div>
