<h1><%= @voyage.title %></h1>

<h6>Voyage departs from :<%= @voyage.location %></h6>
<h6><%= voyage.latitude %></h6>
<h6>Voyage start time: <%= @voyage.start_time %></h6>
<h6>Voyage end time: <%= @voyage.end_time %></h6>
<h6>Voyage description: <%= @voyage.description %></h6>
<h6>Vessel type: <%= @voyage.vessel_type %></h6>
<h6>Boat image: <%= @voyage.boat_image_url %></h6>
<h6>Voyage capacity: <%= @voyage.capacity %></h6>

<p>
  <%= form_for [@voyage, @reservation] do |f|%>
  <%= f.submit %>
  <% end %>
</p>

<%= link_to 'Edit Voyage', edit_voyage_path(@voyage) %>

<%= link_to 'Delete', voyage_path(@voyage), method: :delete, data: {confirm: "Are you sure you want to delete the voyage '#{@voyage.title}'? This cannot be undone!"}%>
