<h1><%= @voyage.title %></h1>

<h6>Voyage departs from :<%= @voyage.location %></h6>
<h6>Latitude: <%= @voyage.latitude %></h6>
<h6>longitude: <%= @voyage.longitude %></h6>
<h6>Voyage start time: <%= @voyage.start_time %></h6>
<h6>Voyage end time: <%= @voyage.end_time %></h6>
<h6>Voyage description: <%= @voyage.description %></h6>
<h6>Vessel type: <%= @voyage.vessel_type %></h6>
<h6>Boat image: <%= @voyage.boat_image_url %></h6>
<h6>Voyage capacity: <%= @voyage.capacity %></h6>

<div id="map"></div>

<script>

  function initMap() {
    var myLatLng = {lat: <%= @voyage.latitude %>, lng: <%= @voyage.longitude %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_api_key"] %>&callback=initMap">
</script>


<p>
  <%= form_for [@voyage, @reservation] do |f|%>
  <%= f.submit %>
  <% end %>
</p>




  <button type="submit" id="voyage-button">Check Space</button>


  <div class='modal'>
    <div class='inner-modal'>
      <!-- This is the window that fades in, and is different than the window code that is in the partial
      class here pertains to the modal window that will fadeIn. -->
      <%= form_for [@voyage, @reservation], :html => {:class => 'voyage-form-class'} do |f|%>
      <button type="button" class="close">x</button>

      <h6>Voyage departs from :<%= @voyage.location %></h6>
      <h6>Voyage start time: <%= @voyage.start_time %></h6>
      <h6>Voyage end time: <%= @voyage.end_time %></h6>
      <h6>Voyage description: <%= @voyage.description %></h6>
      <h6>Vessel type: <%= @voyage.vessel_type %></h6>
      <h6>Boat image: <%= @voyage.boat_image_url %></h6>
      <h6>Seat Location: <%= f.text_field :seat_location, placeholder: "port or starboard" %>
      <h6>Seat Life Jacket Size: <%= f.text_field :life_jacket_size %>
          <input placeholder="small, meduim of large"></h6>
      <h6>Special Needs?: <%= f.text_field :need_accessibility %>
            <input placeholder="what you need?"></h6>

      <h6><%= f.submit %></h6>
      <% end %>
    </div>
  </div>

  <%= link_to 'Edit Voyage', edit_voyage_path(@voyage) %>

  <%= link_to 'Delete', voyage_path(@voyage), method: :delete, data: {confirm: "Are you sure you want to delete the voyage '#{@voyage.title}'? This cannot be undone!"}%>









D
