<div>
  <h6><%= user.name %></h6>
  <h6><%= user.email %></h6>
</div>

<h2>All Reservations </h2>
<% user.reservations.each do |reservation|%>
 <h6><%= reservation.voyage.title %></h6>
  <h6><%= link_to "View Voyage", voyage_path(reservation.voyage_id) %></h6>
<% end %>

<h2>All Created Voyages </h2>
<% user.voyages.each do |voyage| %>
  <h6><%= voyage.title %></h6>
  <h6><%= link_to "View your voyage", voyage %> </h6>

<% end %>
