     <div class="row">
     <!-- make more general class names -->

     <section class="col-xs-12 page-show-header" style="background-image: url(http://www.ask2travel.com/wp-content/uploads/2016/07/%CE%99%CE%A3%CE%A4%CE%99%CE%9F%CE%A0%CE%9B%CE%9F%CE%8A%CE%91.png)">


     </section>

       <section class="col-xs-12 col-sm-6 page-details-section">
         <h2><%= user.name %>'s Profile Page </h2>

           <div class='user-name-div'>

             <h6><%= user.name %>'s email: <%= user.email %></h6>
           </div>
           <h6><%= link_to "Click to Edit User", edit_user_path %>
         <h2>All Reservations </h2>
         <% user.reservations.each do |reservation|%>
         <h6><%= reservation.voyage.title %></h6>
         <h6><%= link_to "View Voyage", voyage_path(reservation.voyage_id) %></h6>
         <% end %>

     </section>

     <section class="col-xs-12 col-sm-6 page-images-section">
       <%= image_tag(@user.user_image_file.url) %>

     </section>
       <section class="col-xs-12 voyage-map-section all-form-text">

         <h2>All My Created Voyages </h2>
         <% user.voyages.each do |voyage| %>
         <h6><%= voyage.title %></h6>
         <h6><%= voyage.location %></h6>
         <h6><%= voyage.description %></h6>
         <h4><%= link_to "View Voyage", voyage_path %></h4>
         <h4><%= link_to 'Edit Voyage', edit_voyage_path %><h4>
         <%= link_to 'Delete Voyage', voyage_path, method: :delete, data: {confirm: "Are you sure you want to delete the voyage '#{voyage.title}'? This cannot be undone!"}%>
         <% end %>



         <h3>All passengers on this Voyage</h3>
         <% user.voyages.each do |voyage| %>
         <% voyage.passengers.each do |passenger| %>
         <h6><%= passenger.name %></h6>
         <h6><%= passenger.bio %></h6>
         <% end %>
         <% end %>
       </section>

     </div>
