<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="nav">
      <%= link_to "Home", root_path %>
    <% if current_user %>
      <%= link_to "Profile Home", user_path(current_user)%>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
      <%= link_to "Home", root_path %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>


  <% if flash.any? %>
      <% flash.each do |key, value| %>
      
      </p>
      <% end %>
      <% end %>

      <%= yield %>

  </body>
</html>
